<script src="http://ajax.googleapis.com/ajax/libs/jquery/2.0.2/jquery.min.js"></script>
  <script src='/js/toucheffects.js'></script>
<script src='/js/fluidvids.js'></script>
<script src='/js/velocity.js'></script>
<script src='/js/jquery.simpleWeather.js'></script>
  <script>
    $(document).ready(function() {
      $.simpleWeather({
        zipcode: '',
        woeid: '20066805',
        location: '',
        success: function(weather) {
          html = '<ul><li class="currently">'+weather.currently+' and </li>';
          html += '<li>' +weather.tempAlt+'&deg;C&nbsp;</li>';
          html += '<li> in '+weather.city+'</li></ul>';

          $("#weather, #weather2").html(html);
        },
        error: function(error) {
          $("#weather, #weather2").html('<p>'+error+'</p>');
        }
      });
    });
  </script>
  <script src='/js/script.js'></script>
</body>
</html>

